.social__icon_yo-lt {
  background-image: url(../../../../images/icon-social/lt/YouTube.svg);
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: center;
  background-color:inherit;
}