.logo-block__item_siemens {
  background-image: url(../../../../images/partners/Siemens-logo.svg);
  background-size: 200px 48px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .logo-block__item_siemens {
    background-size: contain;
  }
}