.page {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background: #001337;
}