.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 108px;
  height: 50px;
  list-style: none;
}


.swiper-pagination {
  width: 100%;
  height: 20px;
  position: absolute;
  text-align: center;
  transition: .3s opacity;
  transform: translate3d(0,0,0);
  z-index: 10;
  bottom: -26px;
  left: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .swiper-pagination {
    bottom: -16px;
  }
}

@media screen and (min-width: 768px) and ( max-width: 1023px)  {
  .swiper-pagination {
    bottom: -20px;
  }
}