.logo-block__item_mail {
  background-image: url(../../../../images/partners/MailLogo.svg);
  background-size: 150px 48px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .logo-block__item_mail {
    background-size: contain;
    max-width: 84px;
  }
}