.contact-form {
  display: grid;
  gap: 0;
  row-gap: 20px;
  column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "name  surname text" 
                       "phone email   text"
                       "gap   button  none";
  padding: 0px;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 165px;
  margin-right: 165px;
  max-width: 1110px;
  width: auto;
  height: 190px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .contact-form {
    justify-content: center;
    row-gap: 0;
    column-gap: 0;
    max-width: 767px;
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    height: 431px;
  }
}

@media screen and (min-width: 768px) and ( max-width: 1023px)  {
  .contact-form {
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
    max-width: 920px;
  }
}