.nav__list {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
    transition: color .1s linear;
}

.nav__list-active::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background-color: #009FAC;
    position: absolute;
    top: 34px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: opacity .1s linear;
}

/* 
.nav__list:after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background-color: #009FAC;
    position: absolute;
    top: 34px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0;
    transition: opacity .1s linear;
}*/

/* .nav__list:hover {
    color: #009FAC;
}

.nav__list:hover:after, .nav__list.active:after {
    opacity: 1;
}

.nav__list.active {
    color: #009FAC;
} */