.nav__list-size {
    width: 100px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (min-width: 320px) and (max-width: 767px) {
    .nav__list-size {
      display: none;
    }
    .nav__list-size:first-child {
      display: flex;
    }
  }
    
  @media screen and (min-width: 768px) and ( max-width: 1023px)  {


    .nav__list-size {
      display: none;
    }
    .nav__list-size:first-child  {
      display: flex;
    }
  }
