.section-industrial__paragraph {
  width: 540px;
  height: 126px;
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.1px;
  color: #000D26;
  padding: 0;
  margin: 0;
}
