.card-project {
  display: flex;
  flex-direction: column;
  width: 254px;
  height: 307px;
  border-radius: 10px;
  background: #009FAC;
  background-image: url(../../images/Factory.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 30px;
  padding: 0;
}

.card-project:last-child {
  margin-right: 0;
}