.card-project__content {
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;

  height: 160px;

  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
}