.card__frame_active {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  height: 430px;
}

.card__frame_active::before{
  content: '';
  z-index: 0;
  position: absolute;
  height: 430px;
  width: 255px;
  border-radius: 10px;
  background: linear-gradient(180deg, #009FAC 0%, rgba(224, 240, 255, 0) 100%, rgba(0, 159, 172, 0) 100%);
}