.card-team__name {
  
  display: grid;
  gap: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "first" 
                       "second";
  width: 215px;
  height: 60px;
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #000D26;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}