.section-projects__number {
    text-decoration: none;
    padding-right: 29px;
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}