.contact-form__input {
  /* max-width: 330px; */
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  max-width: 330px;
  height: 60px;
  background: #FFFFFF;
  border-radius: 10px;
  border: none;
  padding: 0;
  padding-left: 20px;
  color: #000D26;
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.1px;
  align-self: center;
}

.contact-form__input::placeholder {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #009FAC;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .contact-form__input {
    max-width: 268px;
    width: 100%;
    margin-bottom: 12px;

  }
}