.card-project__image {
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
  height: 48px;
  background-image: url(../../../images/gazprom.svg);
  background-size: 112px 48px;
  background-repeat:no-repeat;
}