.popup__content {
  position: static;
  width: 650px;
  height: 625px;
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1px;
  color: #000000; 
}