.card-article__shared {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  background-image: url(../../../images/shared-icon.svg);
  background-repeat: no-repeat;
  background-size: 24px;
  cursor: pointer;
}