.switcher__button_white {
  background: #E0F0FF;
  border: 1px solid #E0F0FF;
  box-sizing: border-box;
  border-radius: 8px;
  width: 279px;
  height: 60px;
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000D26;
  cursor: pointer;
}