.section-team__cards {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  justify-content: flex-start;
  width: 1110px;
  margin-top: 30px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.section-team__group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 1110px;
  margin: 0;
  padding: 0;
}