.card__content {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  z-index: 1;
  margin-top: 50px;
  margin-bottom: 0;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
}