.section-footer__container {
  margin-left: 165px;
  margin-right: 165px;
  max-width: 1110px;
  width: auto;


  /* max-width: 1110px;
  width: 100%; */
  height: 270px;
  margin-top: 80px;
  margin-bottom: 0;
  /* margin-left: auto;
  margin-right: auto; */
  padding: 0;
  color: #FFFFFF;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .section-footer__container {
    /* max-width: 288px; */
    max-width: 767px;
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media screen and (min-width: 768px) and ( max-width: 1023px)  {
  .section-footer__container {
    /* max-width: 690px; */

    width: auto;
    margin-left: 40px;
    margin-right: 40px;
    max-width: 920px;

  }
}