.projects__tab {
  width: 278px;
  font-weight: 600;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .projects__tab {
    width: 288px;
    display: none;
  }
  .projects__tab:first-child {
    display: flex;
  }

  .projects__tab:hover {
    display: flex;
    /* background-color: aqua; */
  }
}
  
@media screen and (min-width: 768px) and ( max-width: 1023px)  {
  .projects__tab {
      width: 172px;
      display: flex;
  }
}