.contact-form__input_name {
  grid-area: name;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .contact-form__input_name {
    margin-top: 0;
    margin-bottom: 12px;
    margin-left: 0;
    margin-right: 0;
  }
}