.card-article__popup {
  position: relative;
  left: -92px;
  
  top: -76px;
  bottom: 0%;
  Width: 184px;
  Height: 56px;
  background: #FFFFFF;
  border-radius: 8px;

  display: none;
  padding: 0;

  filter: drop-shadow(0px 4px 20px rgba(73, 111, 168, 0.15));
}

.card-article__popup::before {
  content: '';
  width: 16px;
  height: 8px;
  background-image: url(../../../images/triangle-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 8px;
  position: absolute;
  left: 92px;
  top: 56px;
  z-index: 10;
}