.card-article__button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;  
  width: 348px;
  height: 70px;
  background: #009FAC;
  border-radius: 0px 0px 10px 10px;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .card-article__button {
    width: 288px;
    height: 44px;
  }
}

@media screen and (min-width: 768px) and ( max-width: 1023px)  {
  .card-article__button {
    width: 330px;
  }
}