.card-article__link {
  display: flex;
  flex-direction: row;
  margin: 20px;
  width: 100%;
  height: 30px;
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;

  justify-content: space-between;
}