.table__column {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 40px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  max-width: 265px;
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.table__column:last-child {
  padding: 0;
  width: 210px;
  line-height: 19px;
}

.table__column:first-child {
  margin-left: 0;
  width: 100%;
}