.section-industrial__container {
  display: grid;
  gap: 0;
  grid-template-columns: 1fr  264px 264px;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "text-top    img-first img-second" 
                       "text-bottom img-first img-second";

  max-width: 1110px;
  width: 100%;
  height: 276px;
  margin-top: 60px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}