.projects__tabs {
  align-self: center;
  max-width: 1110px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 60px;
  margin-left: 165px;
  margin-right: 165px;
  padding: 0;
  margin-bottom: 0;
  list-style: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .projects__tabs {
    flex-direction: column;
    justify-content:start;
    max-width: 288px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 32px;
  }
}
  
  @media screen and (min-width: 768px) and ( max-width: 1023px)  {
    .projects__tabs {
      max-width: 768px;
      margin-top: 60px;
      margin-left: 40px;
      margin-right: 40px;
    }
  }