.card-magistr__title {
  width: 635px;
  /* height: 309px; */
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  letter-spacing: 0.1px;
  color: #000D26;  
}